.input:focus {
    outline: none;
    box-shadow:none;
}

.input {
    height: 36px;
    width: 372px;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
}

.inputWrapper {
}

.superInput {
}

.errorInput {
    border: 1px solid red;
}

.errorInput:focus {
}

.error {
    position: relative;
    top: -30px;
    left: -370px;
    color: red;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
}
