.message {
    display: flex;
    align-items: flex-start;
    border: 1px solid black;
    background: chartreuse;
}

.message img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid black;
}

.messageBlock {
    margin: 5px;
    width: 400px;
    border-radius: 5px;
    background: black;
}

.name {
    margin: 0;
    padding: 15px;
    color: fuchsia;
}

.text {
    margin: 0;
    padding-left: 15px;
    color: chartreuse;
    opacity: 70%;
}

.time {
    margin: 10px;
    text-align: right;
    padding-left: 15px;
    color: chartreuse;
    opacity: 70%;
}